@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import "tailwindcss";
body {
  font-family: "PP Neue Montreal", sans-serif;
  background-color: #d3d8e1;
}
.paragraph {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
/* .hero {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background-color: #15161b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0% 45%, 0% 45%, 0% 55%, 0%55%);
} */
/* .progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffbb00;
}
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100dvh;
  background-color: #000;
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  overflow: hidden;
  will-change: transform, clip-path;
}
.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.85;
}
nav,
footer {
  width: 100vw;
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
} */
